<%- contentFor('layout') %>
<%- include('header.ejs') %>

<main role="main" class="mt-4 d-flex align-items-center">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <strong><%= attr.page %>s</strong>
                <button type="button" class="btn btn-outline-success btn-sm float-right" data-tabid="" data-tabname="<%= attr.table %>" data-tabtype="<%= attr.page %>" data-crud="insert" data-belongsto="<%= attr.belongsto %>" data-belongstoid="<%= attr.belongsto %>_id" data-toggle="modal" data-target="#modalUpsert">
                    Novo <%= attr.page %>
                </button>
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped table-borded datatable-option" data-option="<%= attr.table %>">
                    <thead>
                        <tr>
                            <th>SKU</th>
                            <th>Image</th>
                            <th>Lista</th>
                            <th>Campanha</th>
                            <th>Data</th>
                            <th>Hora</th>
                            <th>Recorrente</th>
                            <th>Ativa</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (row of rows) { %>
                        <tr>
                            <td class="align-middle" ><%= helper.str_pad(row.id, 3, "0", "left", "I") %></td>
                            <td class="align-middle" ><%- helper.image_show(attr.table, row.image, false, 50, 50) %></td>
                            <td class="align-middle" ><%= row.mailing.name %></td>
                            <td class="align-middle" ><%= row.name %></td>
                            <td class="align-middle" >
                                <%= (row.recurrent.toString() == "1" ? helper.weekDayLabel(row.schedule_day) : helper.date(row.schedule_date, "dd/mm/yyyy")); %>
                            </td>
                            <td class="align-middle" ><%= helper.date(`2020-01-01 ${row.schedule_time}`, "HH:MM"); %></td>
                            <td class="align-middle" ><%= (row.recurrent.toString() == "1" ? "Sim" : "Não") %></td>
                            <td class="align-middle" ><%= (row.active.toString() == "1" ? "Sim" : "Não") %></td>
                            <td class="align-middle"  class="text-center">
                                <button type="button" class="btn btn-outline-primary btn-sm" title="Editar <%= attr.page %>" data-tabid="<%= row.id %>" data-tabname="<%= attr.table %>" data-tabtype="<%= attr.page %>" data-crud="update" data-belongsto="<%= attr.belongsto %>" data-belongstoid="<%= attr.belongsto %>_id" data-toggle="modal" data-target="#modalUpsert" >
                                    <span class="fa fa-edit" aria-hidden="true"></span>
                                </button>
                                <button type="button" id="delete_<%= attr.table %>" class="btn btn-outline-danger btn-sm" title="Excluir <%= attr.page %>" data-tabid="<%= row.id %>" data-tabval="<%= row.name %>" data-tabname="<%= attr.table %>" data-tabtype="<%= attr.page %>" data-hasmany="" data-hasmanycol="" data-hasmanyname="" data-myid="delete_<%= attr.table %>" data-name="<%= row.name %>" data-toggle="modal" data-target="#modalDelete" >
                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<!-- Modal UPSERT Product -->
<div class="modal fade" id="modalUpsert" tabindex="-1" role="dialog" aria-labelledby="modalUpsertLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalUpsertLabel"><span></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="my-alert-msg" class="alert alert-success" role="alert" style="display:none;">
                    <span></span>
                </div>
                <form id="modal-form">
                    <div class="form-row mb-3">
                        <label>Imagem</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-outline-info" onclick="$(this).parent().find('input[type=file]').click();">Buscar</span>
                                <input id="image-upload" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" 
                                    style="display: none;" type="file" accept="image/*" >
                            </span>
                            <span class="form-control">Selecionar Arquivo</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Lista Envio</label>
                            <input class="form-control input-sm form_action_ipt" type="hidden" data-name="form_action" data-required="false">
                            <input class="form-control input-sm id_ipt" type="hidden" data-name="id" data-required="false">
                            <select class="form-control input-sm mailing_id_ipt" data-name="mailing_id" data-required="true"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Nome da Campanha</label>
                            <input class="form-control input-sm name_ipt" type="text" maxlength="100" data-name="name" data-required="true">
                            <div class="invalid-feedback name-err">Campo Obrigatório</div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Mensagem da Campanha</label>
                            <textarea class="form-control input-sm message_ipt" maxlength="1000" rows="3" data-name="message" data-required="true"></textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Recorrente</label>
                            <select id="recurrent" class="form-control input-sm recurrent_ipt" data-name="recurrent" data-required="true">
                                <option value="0" selected >Não</option>
                                <option value="1">Sim</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3 schedule_day" style="display: none;">
                            <label>Dia da Semana</label>
                            <select id="camp-day" class="form-control input-sm schedule_day_ipt" data-name="schedule_day" data-required="false">
                                <option value="">Selecione</option>
                                <option value="0" selected>Segunda-Feira</option>
                                <option value="1">Terça-Feira</option>
                                <option value="2">Quarta-Feira</option>
                                <option value="3">Quinta-Feira</option>
                                <option value="4">Sexta-Feira</option>
                                <option value="5">Sábado</option>
                                <option value="6">Domingo</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3 schedule_date ">
                            <label for="camp-date">Data</label>
                            <div class="input-group date" id="campaign-date" data-target-input="nearest">
                                <input id="camp-date" type="text" class="form-control datetimepicker-input schedule_date_ipt" data-name="schedule_date" data-required="false" data-target="#campaign-date" data-toggle="datetimepicker"/>
                                <div class="input-group-append" data-target="#campaign-date" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3 ">
                            <label for="camp-time">Horário</label>
                            <div class="input-group date" id="campaign-time" data-target-input="nearest">
                                <input id="camp-time" type="text" class="form-control datetimepicker-input schedule_time_ipt" data-name="schedule_time" data-required="true" data-target="#campaign-time" data-toggle="datetimepicker"/>
                                <div class="input-group-append" data-target="#campaign-time" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Ativa</label>
                            <input class="form-control input-sm status_ipt" type="hidden" data-name="status" data-required="false">
                            <select class="form-control input-sm active_ipt" data-name="active" data-required="true">
                                <option value="0">Não</option>
                                <option value="1" selected >Sim</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal_submit" class="btn btn-outline-primary" data-tabname="<%= attr.table %>" data-tabtype="<%= attr.page %>"><span></span></button>
                <button type="button" class="btn btn-outline-info reload_closed" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<%- include('footer.ejs') %>