<%- contentFor('layout') %>
<%- include('header.ejs') %>

<main role="main" class="mt-5 d-flex align-items-center">
    <div class="container-fluid mt-4">
        <div class="card">
            <div class="card-header"> 
                <strong><%= attr.page %>s</strong>
                <button type="button" class="btn btn-outline-success btn-sm float-right" data-tabid="" data-tabname="<%= attr.table %>" data-tabtype="<%= attr.page %>" data-crud="insert" data-belongsto="" data-belongstoid="" data-toggle="modal" data-target="#modalUpsert">
                    Novo <%= attr.page %>
                </button>
            </div>
            <div class="card-body">
                <table id="orders-list" class="table table-sm table-striped table-borded datatable-option" data-option="<%= attr.table %>">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="date-min">Data Inicial</label>
                                <div class="input-group date" id="order-start" data-target-input="nearest">
                                    <input id="date-min" type="text" class="form-control datetimepicker-input" data-target="#order-start" data-toggle="datetimepicker"/>
                                    <div class="input-group-append" data-target="#order-start" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="date-max">Data Final</label>
                                <div class="input-group date" id="order-end" data-target-input="nearest">
                                    <input id="date-max" type="text" class="form-control datetimepicker-input" data-target="#order-end" data-toggle="datetimepicker"/>
                                    <div class="input-group-append" data-target="#order-end" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <thead>
                        <tr>
                            <th>SKU</th>
                            <th>Data</th>
                            <th>Hora</th>
                            <th>Valor</th>
                            <th>Origem</th>
                            <th>Tipo</th>
                            <th>Entregador</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (row of rows) { %>
                        <tr>
                            <td class="align-middle" ><%= helper.str_pad(row.id, 4, "0", "left", "P") %></td>
                            <td class="align-middle" ><%= helper.date(row.created_at, "dd/mm/yyyy"); %></td>
                            <td class="align-middle" ><%= helper.date(row.created_at, "HH:MM"); %></td>
                            <td class="align-middle" ><%= parseFloat(row.opt.amount.total_price).toFixed(2) %></td>
                            <td class="align-middle" ><%= helper.ucwords(row.origin) %></td>
                            <td class="align-middle" ><%= helper.ucwords(row.type) %></td>
                            <td class="align-middle" >
                                <% if(row.type == 'entregar') { %>
                                <select id="order_employee_<%= row.id %>" class="form-control custom-select" >
                                    <option value="" >Outros</option>
                                <% for (employee of employees) { selected = row.employee_id == employee.id ? 'selected="selected"' : ''; %>
                                    <option value="<%= employee.id %>" <%= selected %> ><%= employee.name %></option>
                                <% } } %>
                                </select>
                            </td>
                            <td class="align-middle" >
                                <select id="order_status_<%= row.id %>" class="form-control custom-select" >
                                    <option value="0" <%= row.status == 0 ? 'selected="selected"' : ''; %> >Cancelado</option>
                                    <option value="1" <%= row.status == 1 ? 'selected="selected"' : ''; %> >Iniciado</option>
                                    <option value="2" <%= row.status == 2 ? 'selected="selected"' : ''; %> >Produção</option>
                                    <option value="3" <%= row.status == 3 ? 'selected="selected"' : ''; %> >Saiu Entrega</option>
                                    <option value="4" <%= row.status == 4 ? 'selected="selected"' : ''; %> >Entregue</option>
                                    <option value="5" <%= row.status == 5 ? 'selected="selected"' : ''; %> >Devolvido</option>
                                </select>
                            </td>
                            <td class="align-middle" >
                                <button type="button" class="btn btn-outline-success btn-sm order_sync" title="Sincronizar <%= attr.page + " " + helper.str_pad(row.id, 4, "0", "left", "P"); %>" data-tabid="<%= row.id %>" >
                                    <span class="fas fa-sync" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-outline-warning btn-sm ordid-<%= row.id %>" title="Ver Itens do Pedido <%= helper.str_pad(row.id, 4, "0", "left", "P");%>"
                                    data-toggle="modal" data-target="#orderModal" data-order="<%= row.id %>" 
                                    data-delivery="<%= row.delivery %>" data-discount="<%= row.discount %>" 
                                    data-items="<%= encodeURIComponent(JSON.stringify(row.opt.data)) %>">
                                    <i class="far fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-outline-primary btn-sm" title="Editar <%= attr.page + " " + helper.str_pad(row.id, 4, "0", "left", "P"); %>" data-tabid="<%= row.id %>" data-tabname="<%= attr.table %>" data-tabtype="<%= attr.page %>" data-crud="update" data-belongsto="" data-belongstoid="" data-toggle="modal" data-target="#modalUpsert" >
                                    <span class="fa fa-edit" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-outline-info btn-sm orderPrint" id="ordid-<%= row.id %>" 
                                    data-tabid="<%= row.id %>" 
                                    title="Imprimir Pedido <%= helper.str_pad(row.id, 4, "0", "left", "P");%>" >
                                    <i class="fas fa-print"></i>
                                </button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr id="subtotal-order" style="display:none">
                            <th colspan="2" >SubTotal:</th>
                            <th></th>
                            <th id="order-subtotal"></th>
                            <th colspan="4" ></th>
                        </tr>
                        <tr id="total-order" style="display:none">
                            <th colspan="2" >Total:</th>
                            <th></th>
                            <th id="order-total"></th>
                            <th colspan="4"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</main>

  
<!-- Order Modal -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">Items do Pedido #<span id="orderSku"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div id="orderItems"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
    </div>
    </div>
</div>
</div>

<!-- Modal UPSERT Order -->
<div class="modal fade" id="modalUpsert" role="dialog" aria-labelledby="modalUpsertLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalUpsertLabel"><span></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="my-alert-msg" class="alert alert-success" role="alert" style="display:none;">
                    <span></span>
                </div>

                <div class="row">

                    <div class="col-lg-6 col-12">

                        <form id="modal-form">

                            <input class="form-control input-sm form_action_ipt" type="hidden" data-name="form_action" data-required="true">
                            <input class="form-control input-sm id_ipt" type="hidden" data-name="id" data-required="false">
                            <input class="form-control input-sm items_ipt" type="hidden" data-name="items" data-required="true">
                            
                            <div class="form-row mb-2">
                                <div class="col-12">
                                    <label>Cliente</label>
                                    <select id="dataClientId" class="form-control custom-select selectpicker w-100 client_id_ipt" data-live-search="true" data-size="5" data-name="client_id" data-required="true">
                                        <option value="">Selecione um Cliente</option>
                                    <% for (client of clients) { %>
                                        <option value="<%=client.id%>"><%=client.name%></option>
                                    <% } %>
                                    </select>
                                    <div class="invalid-feedback client_id-err">Campo Obrigatório</div>
                                </div>
                            </div>
        
                            <div class="form-row mb-2">
                                <div class="col-md-6 col-12">
                                    <label>Tipo Pedido</label>
                                    <select class="form-control custom-select type_ipt" data-name="type" data-required="true">
                                        <option value="consumir">Consumir</option>
                                        <option value="retirar">Retirar</option>
                                        <option value="entregar">Entregar</option>
                                    </select>
                                    <div class="invalid-feedback type-err">Campo Obrigatório</div>
                                </div>
        
                                <div class="col-md-6 col-12">
                                    <label>Origem Pedido</label>
                                    <select class="form-control custom-select origin_ipt" data-name="origin" data-required="true">
                                        <option value="whatsapp">WhatsApp</option>
                                        <option value="mesa">Mesa</option>
                                        <option value="website">Website</option>
                                        <option value="telefone">Telefone</option>
                                    </select>
                                    <div class="invalid-feedback origin-err">Campo Obrigatório</div>
                                </div>
                            </div>
        
                        <div id="order_address" class="form-row mb-2" style="display: none !important;" >
                                <div class="col-12">
                                    <label>Endereço</label>
                                    <div class="input-group mb-3">
                                        <select class="form-control custom-select address_id_ipt" data-name="address_id" data-required="false">
                                            <option value="">Selecione um Endereço</option>
                                        </select>
                                        <div class="input-group-append">
                                            <label id="addClientAddress" class="input-group-text mclick">Novo</label>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback address_id-err">Campo Obrigatório</div>
                                </div>
                            </div>
        
                            <div class="form-row mb-2">
                                <div class="col-md-6 col-12">
                                    <label>Status Pedido</label>
                                    <select class="form-control custom-select status_ipt" data-name="status" data-required="true">
                                        <option value="0">Cancelado</option>
                                        <option value="1" selected="selected">Iniciado</option>
                                        <option value="2">Produção</option>
                                        <option value="3">Saiu Entrega</option>
                                        <option value="4">Entregue</option>
                                        <option value="5">Devolvido</option>
                                    </select>
                                    <div class="invalid-feedback status-err">Campo Obrigatório</div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <label>Tipo Pagamento</label>
                                    <select class="form-control custom-select payment_type_ipt" data-name="payment_type" data-required="true">
                                        <option value="credito">Credito</option>
                                        <option value="debito">Débito</option>
                                        <option value="dinheiro">Dinheiro</option>
                                        <option value="voucher">Vale Refeição</option>
                                    </select>
                                    <div class="invalid-feedback payment_type-err">Campo Obrigatório</div>
                                </div>
                            </div>
        
                            <div class="form-row mb-2">
                                <div class="col-md-6 col-12">
                                    <label for="inputPayment">Desconto</label>
                                    <input class="form-control input-sm discount_ipt" type="number" min="0" step="0.01" data-name="discount" data-required="false">
                                    <div class="invalid-feedback discount-err">Campo Obrigatório</div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <label for="inputPayment">Troco para:</label>
                                    <input class="form-control input-sm payment_obs_ipt" type="number" min="0" step="5" data-name="payment_obs" data-required="false">
                                    <div class="invalid-feedback payment_obs-err">Campo Obrigatório</div>
                                </div>
                            </div>
        
                            <div class="form-row mb-2">
                                <div class="col-md-6 col-12">
                                    <label>Entregador</label>
                                    <select class="form-control custom-select selectpicker w-100 employee_id_ipt" data-live-search="true" data-size="5" data-name="employee_id" data-required="false">
                                        <option value="">Selecione um Entregador</option>
                                    <% for (employee of employees) { %>
                                        <option value="<%=employee.id%>"><%=employee.name%></option>
                                    <% } %>
                                    </select>
                                    <div class="invalid-feedback employee_id-err">Campo Obrigatório</div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <label for="inputPayment">Custo Entrega:</label>
                                    <div class="input-group mb-3">
                                        <input class="form-control input-sm delivery_ipt" type="number" min="0" step="1" data-name="delivery" data-required="false" readonly="readonly">
                                        <div class="input-group-append">
                                            <span id="distance_label" class="input-group-text"><span></span> km</span>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback delivery-err">Campo Obrigatório</div>
                                </div>
                            </div>
        
                        </form>

                    </div>


                    <div class="col-lg-6 col-12" style="max-height: 500px !important; overflow-y:scroll !important;">
                        <div class="form-row mb-2">
                            <div class="col-12">
                                <label>Buscar Produtos</label> 
                                <select id="order_item_search" class="selectpicker w-100" data-live-search="true" data-size="5" >
                                    <option value="">Selecione um Produto</option>
                                <% for (item of items) { %>
                                    <option value="<%=item.id%>"
                                        data-idx="<%=item.id%>" 
                                        data-name="<%=item.name%>" 
                                        data-val="<%=item.price%>" 
                                        ><%= helper.str_pad(item.id, 3, "0", "left", "I") + " - " + item.name%></option>
                                <% } %>
                                </select>
                                <div class="invalid-feedback items-err">Campo Obrigatório</div>
                            </div>
                        </div>

                        <table id="order_item_list" class="table table-sm table-borded table-striped">
                            <thead>
                                <tr>
                                    <th colspan="2" class="align-middle">Qtd</th>
                                    <th>Item</th>
                                    <th>Unidade</th>
                                    <th>SubTotal</th>
                                </tr>
                            </thead>
                            <tbody></tbody> 
                            <tfoot> 
                                <tr>
                                    <th class="text-right" colspan="4">SubTotal</th>
                                    <th id="subtotal_label" data-val="" class="text-right">0,00</th>
                                </tr>
                                <tr>
                                    <td class="text-right" colspan="4">Taxa</td>
                                    <td id="tax_label" data-val="" class="text-right">0,00</td>
                                </tr>
                                <tr>
                                    <td class="text-right text-danger" colspan="4">Desconto</td>
                                    <td id="discount_label" data-val="" class="text-right text-danger">0,00</td>
                                </tr>
                                <tr>
                                    <td class="text-right" colspan="4">Entrega</td>
                                    <td id="delivery_label" data-val="" class="text-right">0,00</td>
                                </tr>
                                <tr>
                                    <th class="text-right" colspan="4">Total</th>
                                    <th id="total_label" data-val="" class="text-right">0,00</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="modal_submit" class="btn btn-outline-primary" data-tabname="<%= attr.table %>" data-tabtype="<%= attr.page %>" data-tabaddon="-admin"><span></span></button>
                <button type="button" class="btn btn-outline-info reload_closed" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Address Order -->
<div class="modal fade" id="modalOrderAddress" tabindex="-1" role="dialog" aria-labelledby="modalOrderAddressLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalOrderAddressLabel">Endereços</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form id="address-form">
                    
                    <div class="form-row mb-3">
                        <div class="form-group col-md-4 col-12">
                            <label>CEP</label>
                            <div class="input-group">
                                <input id="inputZip" class="form-control input-sm zip_ipt" type="text" maxlength="9" data-name="zip" data-required="true">
                                <div class="input-group-append">
                                    <button id="searchAddress" class="btn btn-outline-secondary" type="button" >
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="invalid-feedback zip-err">Campo Obrigatório</div>
                            </div>
                        </div>
                        <div class="form-group col-md-8 col-12">
                            <label>Rua</label>
                            <input id="inputAddress" class="form-control input-sm street_ipt" type="text" maxlength="50" data-name="street" data-required="true">
                            <div class="invalid-feedback street-err">Campo Obrigatório</div>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="form-group col-md-4 col-12">
                            <label>Número</label>
                            <input id="inputNumber" class="form-control input-sm number_ipt" type="text" maxlength="50" data-name="number" data-required="true">
                            <div class="invalid-feedback number-err">Campo Obrigatório</div>
                        </div>
                        <div class="form-group col-md-8 col-12">
                            <label>Complemento</label>
                            <input id="inputComplement" class="form-control input-sm complement_ipt" type="text" maxlength="50" data-name="complement" data-required="false">
                            <div class="invalid-feedback complement-err">Campo Obrigatório</div>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="form-group col-md-6 col-12">
                            <label>Referencia</label>
                            <input id="inputReference" class="form-control input-sm reference_ipt" type="text" maxlength="50" data-name="reference" data-required="false">
                            <div class="invalid-feedback reference-err">Campo Obrigatório</div>
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <label>Bairro</label>
                            <input id="inputNeighborhood" class="form-control input-sm neighborhood_ipt" type="text" maxlength="50" data-name="neighborhood" data-required="true">
                            <div class="invalid-feedback neighborhood-err">Campo Obrigatório</div>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="form-group col-md-6 col-12">
                            <label>Cidade</label>
                            <input id="inputCity" class="form-control input-sm city_ipt" type="text" maxlength="50" data-name="city" data-required="true">
                            <div class="invalid-feedback city-err">Campo Obrigatório</div>
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <label>Estado</label>
                            <select id="inputState" class="form-control input-sm state_ipt" data-name="state" data-required="true">
                                <option value="">Selecione um Estado</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="GO">Goiás</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraiba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí­</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SP">São Paulo</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                            <div class="invalid-feedback state-err">Campo Obrigatório</div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="noRefresh" value="true">
                <button type="button" id="upsertAddress" class="btn btn-outline-primary">Cadastrar</button>
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<%- include('footer.ejs') %>